.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style*/
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    margin-right: 30px;
}
.btn-contact{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    height: 800px;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 200px;
}

.banner-content{
    max-width: 600px;
    margin-top: 65px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: -40px;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 30px;
}

.banner-description{
    font-size: 18px;
    font-weight: 500;
}

.banner-profile-pic{
    width: 600px;
    height: 650px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}

/* skills container styles */
.skills{
    margin-top: 130px;
}
.skills-p{
    padding: 0 110px;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

