header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(11, 11, 11, 0.288);
}
nav{
    width: 80%;
    display: flex;
    justify-content: center;

}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav li{
    list-style: none;
    
}
li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    
}

@media screen and (max-width:300px) {
    nav ul{
        width: 100%;
        display: block;
        padding: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
}